In [11]:
import os
import sys
from pyspark.sql import SparkSession

# Point the executor to the same Python interpreter the driver is using
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [12]:
spark = SparkSession.builder \
    .appName("HDFS_CSV_Test") \
    .master("local[*]") \
    .getOrCreate()

In [13]:
original_csv_path = "hdfs://localhost:9000/weather_data//weatherbigdata.csv"
streaming_dir = "hdfs://localhost:9000/streaming_weather/"

In [14]:
from pyspark.sql.functions import col
from pyspark.sql.types import *
df = spark.read.csv(original_csv_path, header=True, inferSchema=True)
 # Step 2.1: Drop rows with null temperature values
clean_df = df.na.drop(subset=["TMAX", "TMIN"])

# Step 2.2: Transform temperature to actual degrees Celsius and add a 'range' column
transformed_df = clean_df.withColumn("TMAX_actual", col("TMAX") / 10.0) \
                   .withColumn("TMIN_actual", col("TMIN") / 10.0) \
                   .withColumn("TRANGE", col("TMAX_actual") - col("TMIN_actual"))

# Step 2.3: Add a data quality filter to ensure TMAX is greater than or equal to TMIN
validated_df = transformed_df.filter(col("TMAX_actual") >= col("TMIN_actual"))
validated_df.show()

+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+
|         ID|      DATE|TMAX|TMIN|EVAP|PRCP|Latitude|Longitude|Elevation|TMAX_actual|TMIN_actual|            TRANGE|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+
|USR0000AGOP|  3/7/2011| -28|-200|NULL|NULL| 64.2381|-145.2669|    463.3|       -2.8|      -20.0|              17.2|
|USC00201675| 9/26/2012| 200| 100|NULL|   0| 41.9622| -84.9925|    299.9|       20.0|       10.0|              10.0|
|USC00389039| 12/3/2000|  33| -11|NULL|   0|    33.9| -80.5206|     76.2|        3.3|       -1.1|               4.4|
|USC00230657| 5/10/2007| 267| 139|NULL|   3| 37.0539| -93.5756|    399.3|       26.7|       13.9|12.799999999999999|
|USC00206510|  8/2/2018| 267| 156|NULL|  28| 45.3614| -84.9511|    228.0|       26.7|       15.6|              11.1|
|USC00236045| 4/16/2008| 150|   6|NULL|   0| 36.5869| -89.5325|     92.0|       15.0|        0.6|              14.4|
|USC00108535| 7/11/2012| 356|  94|NULL|   0| 42.6514|-111.5833|   1780.6|       35.6|        9.4|26.200000000000003|
|USC00445150|  1/5/1997| 239|  39|NULL|   0| 38.3683| -78.2503|    175.9|       23.9|        3.9|              20.0|
|USW00013728|  2/8/2021| 106| -55|NULL|   0| 36.5728|  -79.335|    168.2|       10.6|       -5.5|              16.1|
|USC00396170| 2/19/1998|  33|   0|NULL|   0| 44.4419|-100.4172|    506.9|        3.3|        0.0|               3.3|
|USC00352440| 6/21/2012| 311|  61|NULL|NULL| 45.4539|-121.1303|    405.4|       31.1|        6.1|              25.0|
|USC00326155|  7/3/1995| 294| 111|NULL|  20| 46.3747|-102.3211|    739.4|       29.4|       11.1|18.299999999999997|
|USW00013866| 12/1/2002|   6| -44|NULL|   3| 38.3794| -81.5911|    278.0|        0.6|       -4.4|               5.0|
|USW00054780|10/17/2001| 172| 100|NULL|   0| 41.0731| -71.9236|      2.1|       17.2|       10.0| 7.199999999999999|
|USC00306085| 1/21/2013|  61| -94|NULL|   3| 42.5117| -75.5197|    301.4|        6.1|       -9.4|              15.5|
|USC00249023|11/19/1993|  28|-117|NULL|   0| 46.0306|-110.5056|   1787.7|        2.8|      -11.7|              14.5|
|USS0009F04S|  9/6/1996| 155| -47|NULL|   0|    43.7|  -109.67|   2667.0|       15.5|       -4.7|              20.2|
|USC00424968|12/14/2004| 178|  -6|NULL|   0| 37.2008|-113.2686|    973.5|       17.8|       -0.6|18.400000000000002|
|USS0007E06S|  1/4/1998| -50|-125|NULL|   0|   44.16|  -107.13|   2889.5|       -5.0|      -12.5|               7.5|
|USC00324203| 6/23/2009| 278| 194|NULL|   0| 47.4389| -97.0664|    277.4|       27.8|       19.4| 8.400000000000002|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+
only showing top 20 rows

In [15]:
import pandas as pd
import time
pandas_df = validated_df.sample(fraction=0.01).toPandas()  # only 1% of data

In [16]:
pandas_df.head()

,ID,DATE,TMAX,TMIN,EVAP,PRCP,Latitude,Longitude,Elevation,TMAX_actual,TMIN_actual,TRANGE
0,USC00104670,6/12/1993,200,28,NaN,0.0,42.7325,-114.5192,1140.0,20.0,2.8,17.2
1,USC00466284,3/31/2012,217,44,NaN,48.0,38.1878,-80.8483,595.3,21.7,4.4,17.3
2,USC00249187,4/2/2011,56,-6,NaN,130.0,48.9514,-115.6267,940.3,5.6,-0.6,6.2
3,USR0000ALOS,3/17/2021,-111,-239,NaN,NaN,66.0425,-147.9714,213.4,-11.1,-23.9,12.8
4,USR0000CDOW,12/13/1997,33,-150,NaN,NaN,39.6269,-106.4517,2742.6,3.3,-15.0,18.3

In [18]:
from pyspark.sql.functions import col
from pyspark.sql.types import *
batch_size = 10
total_rows = len(pandas_df)
rows_used = 0
batch_num = 1
while rows_used < total_rows:
    # Select the next batch of rows
    batch_df = pandas_df.iloc[rows_used:rows_used + batch_size]
    
    # Convert batch back to Spark DataFrame
    spark_batch_df = spark.createDataFrame(batch_df)
   
    # Write batch to HDFS
    batch_path = os.path.join(streaming_dir, f"batch_{batch_num}")
    spark_batch_df.write.mode("append").csv(batch_path, header=True)
   
    print(f"Batch {batch_num} written to HDFS")
    spark_batch_df.show()
    # Increment counters
    rows_used += batch_size
    batch_num += 1
    
    # Pause to simulate real-time arrival
    time.sleep(2)  # 2 seconds between batches

print("All batches streamed successfully!")

Batch 1 written to HDFS
+-----------+----------+----+----+----+-----+--------+---------+---------+-----------+-----------+------------------+
|         ID|      DATE|TMAX|TMIN|EVAP| PRCP|Latitude|Longitude|Elevation|TMAX_actual|TMIN_actual|            TRANGE|
+-----------+----------+----+----+----+-----+--------+---------+---------+-----------+-----------+------------------+
|USC00104670| 6/12/1993| 200|  28| NaN|  0.0| 42.7325|-114.5192|   1140.0|       20.0|        2.8|              17.2|
|USC00466284| 3/31/2012| 217|  44| NaN| 48.0| 38.1878| -80.8483|    595.3|       21.7|        4.4|17.299999999999997|
|USC00249187|  4/2/2011|  56|  -6| NaN|130.0| 48.9514|-115.6267|    940.3|        5.6|       -0.6| 6.199999999999999|
|USR0000ALOS| 3/17/2021|-111|-239| NaN|  NaN| 66.0425|-147.9714|    213.4|      -11.1|      -23.9|12.799999999999999|
|USR0000CDOW|12/13/1997|  33|-150| NaN|  NaN| 39.6269|-106.4517|   2742.6|        3.3|      -15.0|              18.3|
|USR0000MBIG| 3/15/1997|  22|-589| NaN|  NaN| 45.0733|-107.8886|   2218.9|        2.2|      -58.9|              61.1|
|USR0000ANOR| 3/14/2006|-111|-300| NaN|  NaN| 66.8333|-154.3333|    243.8|      -11.1|      -30.0|              18.9|
|USR0000ATEL|  3/4/2013| -44|-250| NaN|  NaN|   63.44|-153.3567|    198.1|       -4.4|      -25.0|              20.6|
|USR0000IRAF| 2/24/2003|  -6|-139| NaN|  NaN| 42.5478|-113.2594|   1341.1|       -0.6|      -13.9|              13.3|
|USR0000MPPH|12/15/2003|-100|-133| NaN|  NaN| 46.8353|-110.7175|   2509.1|      -10.0|      -13.3|3.3000000000000007|
+-----------+----------+----+----+----+-----+--------+---------+---------+-----------+-----------+------------------+

Batch 2 written to HDFS
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------+
|         ID|      DATE|TMAX|TMIN|EVAP|PRCP|Latitude|Longitude|Elevation|TMAX_actual|TMIN_actual|TRANGE|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------+
|USR0000NSHY| 3/14/1999|  56| -72| NaN| NaN| 46.4658| -97.3161|    326.1|        5.6|       -7.2|  12.8|
|USR0000ITRI| 10/3/2019| 144| -56| NaN| NaN| 42.8286|-116.5886|   1606.3|       14.4|       -5.6|  20.0|
|USR0000MMOR|  4/5/2020| 128| -50| NaN| NaN|   45.89| -93.2697|    308.5|       12.8|       -5.0|  17.8|
|USR0000APLE| 1/13/2004| 178| -50| NaN| NaN| 34.0933|-110.9333|   1539.2|       17.8|       -5.0|  22.8|
|USR0000MLIT|12/11/1999|  72| -39| NaN| NaN| 47.8139|-109.0167|    944.9|        7.2|       -3.9|  11.1|
|USR0000CCRO| 1/26/2000|  44| -33| NaN| NaN| 39.3528|-107.0931|   2530.8|        4.4|       -3.3|   7.7|
|USR0000OHOY| 2/25/1997| 117| -33| NaN| NaN| 42.9764|-121.4219|   1659.6|       11.7|       -3.3|  15.0|
|USR0000CHNM| 2/21/2000|  22| -28| NaN| NaN| 36.5625|-117.4736|   2097.0|        2.2|       -2.8|   5.0|
|USR0000OFAL|11/18/2005|  94| -11| NaN| NaN| 44.2939|-119.0333|   1813.3|        9.4|       -1.1|  10.5|
|USR0000IDIA| 4/23/2007| 100| -11| NaN| NaN| 42.8667|-111.2167|   2286.0|       10.0|       -1.1|  11.1|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------+

Batch 3 written to HDFS
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+
|         ID|      DATE|TMAX|TMIN|EVAP|PRCP|Latitude|Longitude|Elevation|TMAX_actual|TMIN_actual|            TRANGE|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+
|USR0000IPIN| 3/21/2018|  94|  -6| NaN| NaN|   44.25|  -116.18|   1341.1|        9.4|       -0.6|              10.0|
|USR0000NWAT|12/23/2005|  72|   0| NaN| NaN| 47.7803|-103.2867|    659.9|        7.2|        0.0|               7.2|
|USR0000MKLL| 11/5/2003| -44|-128| NaN| NaN| 47.9425|  -94.455|    412.1|       -4.4|      -12.8|               8.4|
|USC00103108| 12/9/2007| -11|-122| NaN| NaN| 43.3428|  -114.79|   1543.8|       -1.1|      -12.2|              11.1|
|USC00500247| 3/18/2001|  17|-122| NaN| NaN| 62.1925|-150.5033|    136.9|        1.7|      -12.2|13.899999999999999|
|USR0000MCON|11/10/2018|  33| -61| NaN| NaN| 47.5361|-113.7172|   1122.9|        3.3|       -6.1| 9.399999999999999|
|USR0000OBLU| 11/4/2013|  56| -61| NaN| NaN|   44.67|-117.9336|   1280.2|        5.6|       -6.1|              11.7|
|USR0000OALL| 2/15/2004|  61| -61| NaN| NaN| 43.9247|-119.5944|   1621.5|        6.1|       -6.1|              12.2|
|USR0000TLEW|  1/9/2017|  61| -44| NaN| NaN| 35.3817| -86.7658|    350.5|        6.1|       -4.4|              10.5|
|USR0000NBLU|11/10/2000|   6| -39| NaN| NaN| 40.5017|-119.1217|   1392.9|        0.6|       -3.9|               4.5|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+

Batch 4 written to HDFS
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+
|         ID|      DATE|TMAX|TMIN|EVAP|PRCP|Latitude|Longitude|Elevation|TMAX_actual|TMIN_actual|            TRANGE|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+
|USR0000IDER| 2/14/1994|  61| -33| NaN| NaN| 43.1744|-115.1517|   1691.6|        6.1|       -3.3| 9.399999999999999|
|USR0000OMID| 3/28/2009|  44| -22| NaN| NaN| 45.5833|-121.5833|    792.5|        4.4|       -2.2|6.6000000000000005|
|USR0000CDEV|  3/9/1997| 133| -22| NaN| NaN| 37.2269|-107.3047|   2243.3|       13.3|       -2.2|              15.5|
|USR0000MWEG| 1/17/2004|  11| -17| NaN| NaN| 48.5106|-113.9942|    975.4|        1.1|       -1.7|               2.8|
|USR0000NCOM| 1/28/2003|  78| -17| NaN| NaN| 39.3814| -116.175|   2008.6|        7.8|       -1.7|               9.5|
|USR0000CBLD| 2/14/1996| 150| -17| NaN| NaN| 41.0547|-120.3375|   1711.5|       15.0|       -1.7|              16.7|
|USR0000AKLA| 5/13/2002| 122| -11| NaN| NaN| 62.1472|-144.9281|    944.9|       12.2|       -1.1|13.299999999999999|
|USR0000WBUR| 5/16/2003| 144| -11| NaN| NaN| 44.7853|-107.5347|   2360.1|       14.4|       -1.1|              15.5|
|USR0000AMOS|11/18/1994|   0|-117| NaN| NaN| 35.0336|-113.8925|   1804.4|        0.0|      -11.7|              11.7|
|USR0000IDEA|12/13/2005|  17|-100| NaN| NaN| 44.3256|-117.1678|   1088.1|        1.7|      -10.0|              11.7|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+

Batch 5 written to HDFS
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+
|         ID|      DATE|TMAX|TMIN|EVAP|PRCP|Latitude|Longitude|Elevation|TMAX_actual|TMIN_actual|            TRANGE|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+
|USR0000CGUN|  2/3/1998|  50| -94| NaN| NaN| 40.2092|-106.3292|   2566.4|        5.0|       -9.4|              14.4|
|USR0000IBON| 1/12/2008|   6| -89| NaN| NaN|  44.375|-114.5667|   1953.8|        0.6|       -8.9|               9.5|
|USR0000IGOO| 2/17/2015|  94| -61| NaN| NaN|  42.095|-113.8958|   1725.2|        9.4|       -6.1|              15.5|
|USR0000OLIG|  2/4/1992| 117| -50| NaN| NaN| 44.0833|-120.0981|   1280.2|       11.7|       -5.0|              16.7|
|USR0000OBAD|12/22/2017|   0| -39| NaN| NaN|   44.03|   -120.4|   1731.3|        0.0|       -3.9|               3.9|
|USR0000OFOS| 9/15/2017| 178| -39| NaN| NaN| 42.9736|-119.2461|   1524.0|       17.8|       -3.9|              21.7|
|USR0000CBUL|  3/3/1993|  89| -22| NaN| NaN| 40.4808|-120.1139|   1339.6|        8.9|       -2.2|11.100000000000001|
|USR0000CHEL|12/14/1997|  44| -17| NaN| NaN| 39.0717|-120.4217|   1597.2|        4.4|       -1.7|6.1000000000000005|
|USR0000IMHO|11/30/2018|  44| -11| NaN| NaN| 43.0283|  -115.87|    914.4|        4.4|       -1.1|               5.5|
|USR0000CMTZ|12/30/2014|  50| -11| NaN| NaN| 38.3894|-120.6511|    902.2|        5.0|       -1.1|               6.1|
+-----------+----------+----+----+----+----+--------+---------+---------+-----------+-----------+------------------+

Batch 6 written to HDFS

ERROR:root:KeyboardInterrupt while sending command.
Traceback (most recent call last):
  File "C:\Users\Admin\miniconda3\envs\bigdata\lib\site-packages\py4j\java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "C:\Users\Admin\miniconda3\envs\bigdata\lib\site-packages\py4j\clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "C:\Users\Admin\miniconda3\envs\bigdata\lib\socket.py", line 716, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt: